// this is a sass file


// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// TYPO



// MIX



// ELEMENTS

.holiday {
  color: red;
}

.calendar {
  width: 500px;
  margin: 0 auto;
  &__holiday {
    color: red;
  }
}


// STYLE
