// this is a sass file


// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
}


// TYPO



// MIX



// ELEMENTS

.calendar {
  width: 100%;
  height: 100vh;
  padding: 50px;
  &__days {
    display: grid;

    border-top: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;

    grid-template-columns: repeat(7, 1fr);
    filter: drop-shadow(1px 1px 0px #c6c6c6);
  }
  &__day {
    height: 120px;
    padding: 15px;

    list-style: none;

    text-align: center;

    border: 1px solid #c6c6c6;
    background-color: #fff;

  }
  &__holiday {
    width: 100%;
    margin-top: 10px;
    padding: 7px 0;

    color: #fff;
    border-radius: 6px;
    background-color: red;

    font-weight: bold;
  }
}


// STYLE

.header {
  display: flex;
  align-items: center;

  padding-bottom: 20px;
  > * {
    margin: 0 15px;
  }
}

#today,
#prev,
#next {
  cursor: pointer;

  font-size: 20px;
}

#today {
  padding: 5px 18px;

  border: 1px solid #c6c6c6;
  border-radius: 4px;
  &:hover {
    background-color: #f1f3f4;
  }
}

.days-of-week {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1340px;
  padding-bottom: 8px;

  text-decoration: underline;
  .day-of-week {
    width: 100%;

    text-align: center;

    font-size: 20px;
  }
}
